<launch>
  <!-- config file directories -->
  <arg name="config_servo"           default="$(find shared_autonomy)/config/servo.yaml"/>
  <arg name="controllers_file"       default="$(find shared_autonomy)/config/controllers.yaml"/>

  <!-- Args -->
  <arg name="controller_type"  value="position_joint_trajectory_controller"/>
  <arg name="rviz"           value="false" />

  <node pkg="shared_autonomy" type="hand_to_pose_test.py" name="hand_to_pose_test" output="screen">

  <!-- Load controller list -->
  <rosparam file="$(arg controllers_file)" command="load" subst_value="true"/>

  <!-- launch robot -->
  <include file="$(find shared_autonomy)/launch/panda_servo.launch">
    <arg name="controller" value="$(arg controller_type)"/>
  </include>

  <!-- 3) Nodo servo_server con servo.yaml + parametro controller_type -->
  <node name="servo_server" pkg="moveit_servo" type="servo_server" output="screen">
    <rosparam command="load" file="$(arg config_servo)"/>
  </node>
</launch>